@font-face {
	font-family: 'ITCGrouch';
	src: url('ITCGrouch.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(27, 28, 31);
}

.background {
	opacity: 0.2;
	position: absolute;
	left: 0;
	top: 0;
}

.background2 {
	opacity: 0.2;
	position: absolute;
	top: 0;
	transform: scaleX(-1);
	left: auto;
	right: 0;
}

h2 {
	font-family: 'ITCGrouch', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 7rem;
	font-weight: bold;
	padding: 2rem;
	color: white;
}

.welcome-week {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;
	animation: fadeIn 1s ease forwards;
}

.countdown {
	display: flex;
	justify-content: space-around;
	text-align: center;
	color: white;
}

.hour,
.minute,
.second {
	font-size: 2rem;
}

.logo {
	height: 7vh;
	bottom: 50px;
	left: auto;
	right: auto;
	width: fit-content;
	position: absolute;
	opacity: 0.5;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Website Responsiveness */
@media (max-width: 600px) {
	html,
	body {
		scale: 0.9;
	}
	.background2 {
		display: none;
	}
}

@media (min-width: 601px) and (max-width: 1300px) {
	html,
	body {
		scale: 0.95;
	}
	.background2 {
		display: none;
	}
}

@media (min-width: 1301px) {
	html,
	body {
		scale: 1;
	}
}
